.detail-board {
  background-color: #fff;
  border-top: 1px solid #ddd;

  .img-wrap {
    float: left;
    width: 606px;
  }

  .info {
    height: 656px;
    margin-left: 610px;
    padding: 50px 20px 20px;

    .name {
      font-size: 25px;
      line-height: 60px;
    }

    .slogan {
      color: #999;
    }

    .price {
      margin-top: 20px;
      font-size: 20px;
      color: #ff6700;
    }
  }

  .content-wrap {
    height: 100px;
  }
}