.nav {
  float: left;
  height: 100%;
  margin-left: 100px;

  .nav-item {
    float: left;
    width: 75px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 100px;

    &:hover {
      .nav-lk {
        color: #ff6700;
      }
    }
  }

  &:hover {
    .nav-menu {
      height: 229px;
    }
  }
}